*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box 1px solid black; 
   
}
.body{
    background-color: antiquewhite;
}
#page{
    max-width: 940px;
 min-width: 720px;
 margin: 10px auto 10px auto;
 padding: 20px;
 border: 4px double #000;
 background-color:antiquewhite ;}


.main-heading{
    margin-top: 25px;
    text-align: center;
    text-decoration: underline;
     
}
.line1{
    border-top: 2px solid black;

}
li{
    margin: 5px;
    list-style: none;
    display: inline;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ff6347;
    background-color: #e7dbdb;
    padding-left: 8px;
    padding-right: 8px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff6347;
    
}
ul{
    text-align: center;
    margin-top: 8px;

}
.line2{
    border-top: 1px solid black;
    margin-top: 8px;
}
div{
    margin-top: 10px;
}
p{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
}